<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../javascripts/DOM.js"></script>
</head>
<body>
    <h3>hello</h3>
    <div id="patter">this is patter</div>
    <div id="pater1">this is pater1</div>
    <div id="pater2">this is pater2</div>
    <a id="href" href="http://www.baidu.com">a标签</a>
</body>
</html>